<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside id="aside-wrapper" th:fragment="layout_aside">
        <ul>
            <li class="active">
                <a class="aside-wrapper-menu-item">
                    <i class="">&#xf0ce;</i>
                    <span>任务系统</span>
                    <i class="menu_dropdown-arrow">&#xf107;</i>
                </a>
                <ul>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询1</span>
                        </a>
                    </li>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询2</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="aside-wrapper-menu-item">
                    <i class="">&#xf0ce;</i>
                    <span>任务系统2</span>
                    <i class="menu_dropdown-arrow">&#xf107;</i>
                </a>
                <ul>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询1</span>
                        </a>
                    </li>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询2</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="aside-wrapper-menu-item">
                    <i class="">&#xf0ce;</i>
                    <span>任务系统</span>
                    <i class="menu_dropdown-arrow">&#xf107;</i>
                </a>
                <ul>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询1</span>
                        </a>
                    </li>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询2</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a class="aside-wrapper-menu-item">
                    <i class="">&#xf0ce;</i>
                    <span>任务系统2</span>
                    <i class="menu_dropdown-arrow">&#xf107;</i>
                </a>
                <ul>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询1</span>
                        </a>
                    </li>
                    <li>
                        <a class="">
                            <i class="">&#xf0ce;</i>
                            <span>任务查询2</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</body>
</html>