<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside id="aside-wrapper" th:fragment="layout_aside">
        <ul>
            <li class="active">
                <a class="aside-wrapper-menu-item">
                    <i class="">&#xf0ce;</i>
                    <span>组件</span>
                    <i class="menu_dropdown-arrow">&#xf107;</i>
                </a>
                <ul>
                    <li>
                        <a class="" th:href="@{/}">
                            <i class="">&#xf0ce;</i>
                            <span>结构树</span>
                        </a>
                    </li>
                    <li>
                        <a class="" th:href="@{/dataTable}">
                            <i class="">&#xf0ce;</i>
                            <span>数据表格</span>
                        </a>
                    </li>
                    <li>
                        <a class="" th:href="@{/page}">
                            <i class="">&#xf0ce;</i>
                            <span>分页</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </aside>
</body>
</html>