<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header id="header-wrapper" th:fragment="layout_header">
        <a href="" class="logo">任务调度系统</a>
        <nav id="Hui-userbar">
            <ul class="one-ul">
                <li class="permissionName"><a href=""></a></li>
                <li class="userName">
                    <a href=""></a>
                </li>
                <li class="exitUser">
                    <a href=""></a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>