<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <link rel="stylesheet" th:href="@{css/l-ui.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <script th:src="@{service/api/getAuth}"></script>
</head>
<body>
<header id="header-wrapper" th:replace="layout/header :: layout_header"></header>
<aside id="aside-wrapper" th:replace="layout/aside :: layout_aside"></aside>

<section id="section-wrapper">
    <nav class="section-nav-box">
        <i class="fa fa-home"></i><a href="#" class="maincolor">首页</a>
        <i class="fa fa-angle-right"></i><a>任务查询</a>
    </nav>
    <article id="main">
        <div class="row">
            <div class="col-md-12">
                <ul class="ztree" id="ztreeDemo"></ul>
            </div>
        </div>
    </article>
</section>
<script th:src="@{js/l-ui.js}"></script>
<script th:src="@{js/layout.js}"></script>
<script>
    var tree = initTreePlugIn({
        "id":"ztreeDemo",
        "data":[
            {
                "id":1,
                "name":"团队工作时间管理",
                "children":[
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[
                            {
                                "id":1,
                                "name":"团队工作时间管理",
                                "children":[
                                    {
                                        "id":1,
                                        "name":"团队工作时间管理",
                                        "children":[

                                        ],
                                    },
                                ],
                            }
                        ],
                    }
                ],
            },
            {
                "id":1,
                "name":"团队工作时间管理",
                "children":[
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    }
                ],
            },
            {
                "id":1,
                "name":"团队工作时间管理",
                "children":[
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    },
                    {
                        "id":1,
                        "name":"团队工作时间管理",
                        "children":[

                        ],
                    }
                ],
            }
        ],
        "callback":[

        ]
    });
</script>
</body>
</html>